{% extends "layout.html" %}
{% block content %}
          <div class="inner cover">
            <div class="upload_data">
              <h1>Upload your data</h1>
              <p class="lead">Please, upload a CSV file.</p>
              <form  method="post" enctype="multipart/form-data" action="/upload_csv">
                <input type="file" value="file" name="file"></input>
                <input class="btn btn-info" type="submit" value="Upload"></input>
              </form>
            </div> 
          </div>
{% endblock %}
