{% extends "layout.html" %}
{% block content %}
          <div class="inner cover">
            <h1 class="cover-heading">Data page</h1>
            <p class="lead">Here is the data available to be visualised.</p>
            <p class="lead">
            <a href="/upload_page" class="btn btn-lg btn-default">Add data</a>
            </p>
          </div>

          <div class="files_list">
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>File name</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for file in files %}
                <tr>
                  <th scope="row">{{loop.index}}</th>
                  <td>{{file}}</td>
                  <td> <a class="btn btn-primary" href='/visualise/{{loop.index - 1}}'>Visualise</a> </td>
                </tr>
                {% endfor %}
              </tbody>
            <table>
          </div>
{% endblock %}
